<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>talk_diary</title>
        <meta name="description" content="会話日記アプリ">
        <link rel="icon" type="image/png" href="../images/favicon.png">

        <!-- SCC -->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com//css?family=Philosopher">
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body>
        <div id="home" class="bg">
            <header class="page-head">
                <h1 class="main-logo">
                    <a href="/">
                        会話日記
                    </a>
                </h1>
                <nav>
                    <ul class="page-nav">
                        <li><a href="info.html">新規作成</a></li>
                        <li><a href="/list">過去の日記</a></li>
                        <li><a href="contact.html">---</a></li>
                    </ul>
                </nav>
            </header>
        </div><!-- #home .bg -->
        <footer>
            <p class="makerinfo"><small>&copy; 2022 onga</small></p>
        </footer>
    </body>
</html>